{% extends 'base.html.twig' %}

{% block title %}Liste des contact!{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des contacts</h1>

<div class="row">
{% for leContacts in lesContacts %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        <div class="card mb-3 container">
            <h4 class="card-header"> {{leContacts.nom}} {{leContacts.prenom}}</h4>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col"></div>
            </div> 
            <img class="avatar mx-auto my-3" style="border-radius: 50%; height: auto; max-width: 200px; display: block;" src="{{leContacts.avatar}}" alt="">
            </svg>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rue :{{leContacts.rue}}</li>
                <li class="list-group-item">CP :{{leContacts.cp}}</li>
                <li class="list-group-item">Mail :{{leContacts.mail}}</li>
                <li class="list-group-item">Ville :{{leContacts.ville}}</li>
                <li class="list-group-item">
                {% if leContacts.sexe == 0 %}
                   <span class="badge badge-info">homme</span>
                {% else %}
                    <span class="badge badge-info">femme</span>
                {% endif %}
            </li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-success btn-block text-center">enfant</a>
            </div>   
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
